<!doctype html>
<html ng-app="tableEditor">
<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script><!-- load angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
	<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
	<link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><!-- load bootstrap -->
	<script src="js/tableEdit.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>

</head>
<body>
	<div class="container">
		<form name="loginForm" ng-controller="LoginController" ng-submit="login(credentials)" novalidate>
			  <label for="username">Username:</label>
			  <input type="text" id="username" ng-model="credentials.username">
			  <label for="password">Password:</label>
			  <input type="password" id="password" ng-model="credentials.password">
			  <button type="submit">Login</button>
		</form>
	</div>
</body>
</html>